.scrollbars {
  position: relative;
  overflow: hidden !important;
}

.scrollbars__scroll-wrapper {
  height: 100%;
  margin-right: -20px;
  padding-right: 10px;
  overflow-Y: scroll;
}

.scrollbars__bar-wrapper {
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 0;
  width: 6px;
  border-radius: 6px;
  background: rgba(0,0,0, .1);
  opacity: 0;
  transition: opacity 300ms ease 200ms;
}

.scrollbars__bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .25);
  border-radius: 6px;
}

.scrollbars:hover .scrollbars__bar-wrapper,
.scrollbars__bar-wrapper--grabbed {
  opacity: 1;
}
